body {
    margin: 0;
}

#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

#myModal div {
    margin: auto;
    height: 500px;
    width: 500px;
    text-align: center;
    background: rgba(70,105,109, 0.9);
    color: #0489AA;
    text-shadow: 2px 2px black;
    border: 4px solid black;
    padding: 10px;
}

#myModal div img {
    border: 4px solid black;
    padding: 5px;
}

form {
    font-size: 25px;
}




.background{
    background-image: url("images/skyscrapper.jpg");
    position: relative;
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%; 
    /* Vertical Center */
    display:flex;
    align-items:center;
}

.background-about {
    background-image: url("images/oldschool.jpg");
    position: relative;
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%; 
    /* Vertical Center */
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    flex-direction:row;
    
}


.background-contact {
    background-image: url("images/contact.jpg");
    position: relative;
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%; 
    /* Vertical Center */
    display:flex;
}

.topleft {
    position: absolute;
    top:0;
    left:20px;
    padding-bottom: 5em;
}


.heading {
    width: 550px;
    height: 150px;
    font-size: 65px;
    color: #0489AA;
    text-shadow: 4px 4px black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    text-align: center;
    font-weight: bold;

}

.slogan {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    color: #0489AA;
    text-shadow: 3px 3px black;

}

.nav {
    width: 100%;

}

.nav ol {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;



}


.nav ol li {
    display: inline;
    font-size: 65px;
    padding: 20px;
    color: #0489AA;
    text-shadow: 3px 3px black;
    font-weight: bold;
    border: 5px solid black;
    text-align: center;
    background-color: rgba(207, 243, 229, 0.3);


}

.nav ol a {
    text-decoration: none;


}

.oldheading {
    width: 100%;
    height: 90px;
    text-align: center;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    line-height: 10px;
    
    
}






    
    







